//no space
/*no space*/
/*!no space for loud comment*/

.foo {
  color: red; background-color: blue;
  margin: 0.1em 0.0px;
  padding:0.5em 0.2em 0.0;
    border :0.5em solid;
 font-size: 10px + 20px;
  line-height: 0em;

  & > .hoge {
    color: rgba(0,0,0.0);
  }
}

.foo .bar {
  color: green;
  background-color: rgba(0,0,0,.1);
}
